// Font import
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/********************
    General
*********************/

.main {
  font-family: 'Roboto', sans-serif;
  background-color: #2d325a;
  color: #e55767;
  display: flex;
  flex-direction: column;
  padding: 1em;
  flex-basis: 75%;
  border-radius: 0.3em;
  margin: 2em;
  -webkit-box-shadow: 5px 5px 7px 0px #2D325A;
  box-shadow: 5px 5px 7px 0px #2D325A;
}


/********************
    Visualizer
*********************/

#visualizer {
  border-radius: 1em;
  background-color: #08143e;
  margin: 0 auto;
  width: 100%;

}

/********************
    Controls 
*********************/

.controlContainer {
  display: flex;
  flex-flow: row wrap;
  font-size: 1.25rem;
}

.paramControls {
  display: flex;
  flex-flow: column wrap;
  border-radius: 0.8em;
  margin: 1em;
  padding: 2em;
  flex: 1;
  border: 3px solid #E3415D;
}

.filterControls {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 2em;
  border: 3px solid #E3415D;
  border-radius: 0.8em;
  flex: 1;
}

// Accordion
.fold {
  margin: 1em;
  flex: 1;
  flex-flow: column wrap;
  color: #fafafa;
  border-radius: 0.5em;
}